:root {
  --blue-primary: #3567e4;
  --blue-hover: #86a4ef;
  --blue-shadow: rgba(53, 70, 228, 0.68);
  --gradient-start: #04061c;
  --gradient-mid: #410896;
  --gradient-end: #04061c;
}

/* .m-tooltip__content {
  display: none;
} */

.m-header__desktop,
.m-header__mobile {
  border: none;
  background-image: linear-gradient(
    to right,
    var(--gradient-start) 0%,
    var(--gradient-mid) 20%,
    var(--blue-primary) 80%,
    var(--gradient-end) 100%
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.links-menu-jmcs {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  padding: 16px 30px;
  font-family: var(--font-stack-header);
  text-transform: uppercase;
}

.links-menu-jmcs:hover {
  color: var(--blue-primary);
}

.jmcs_header_icon,
.jmcs_header_icon_search {
  color: var(--blue-primary);
  transition: all 0.2s ease-in-out;
}

.jmcs_header_icon:hover,
.jmcs_header_icon:active {
  color: var(--blue-hover);
  filter: drop-shadow(0 0 5.6px var(--blue-shadow));
}

.m-hamburger-box__inner {
  background: var(--blue-primary);
  transition: all 0.2s ease-in-out;
}

.m-hamburger-box__inner:active {
  background: var(--blue-hover);
  filter: drop-shadow(0 0 5.6px var(--blue-shadow));
}

.location-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-dot {
  color: var(--blue-primary);
  width: 12px;
  height: 100%;
}

.social-media-links--item svg {
  color: var(--blue-primary);
  width: 14px;
  height: 100%;
}

.location-row {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 12px;
}

.social-links-row {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.announcement_bar_jmcs {
  width: 60%;
  display: flex;
  justify-content: center;
}

.social-media-links--label {
  font-size: 12px;
}

.social-media-links--item:hover,
.location-row:hover {
  color: var(--blue-hover);
}

.policy-item {
  background: transparent !important;
}

.jmcs-policies-block {
  position: relative;
  box-shadow: 0 -10px 56.6px 30px rgba(0, 0, 0, 0.3);
}

.jmcs-policies-block::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--gradient-start) 0%,
    var(--gradient-mid) 20%,
    var(--blue-primary) 80%,
    var(--gradient-end) 100%
  );
}

.jmcs-h4 {
  font-size: 20px;
}

/* ========================= */
/* COMPONENTE: JMCS Categories */
/* ========================= */

.jmcs-categories .m-collection-card__title {
  line-height: 1.1;
}

.jmcs-categories .m-hover-box__wrapper,
.jmcs-categories .m-collection-card__inner a {
  border-radius: 38px;
}

.jmcs-categories .m-collection-card--inside {
  transition: box-shadow 0.3s ease;
  border-radius: 38px;
}

.jmcs-categories .m-collection-card--inside::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 38px;
  background: linear-gradient(
    to right,
    var(--gradient-mid),
    var(--blue-primary)
  );
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.jmcs-categories .m-collection-card--inside:hover::before {
  opacity: 1;
}

.jmcs-categories .m-collection-card--inside:hover {
  box-shadow: 0px 0px 90.5px -26px rgba(53, 70, 228, 0.57);
  position: relative;
  padding: 1px;
  opacity: 1;
}
.jmcs-categories .m-collection-card--inside:hover .m-collection-card__info {
  margin: -1px;
}

.jmcs-categories .m-button:hover {
  border: none;
  box-shadow: none;
}

.jmcs-categories .m-button {
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 999px;
  background-color: #04061c7a;
  color: #e6e8f9;
  transition: color 0.3s ease;
}

.jmcs-categories .m-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 999px;
  padding: 2px;
  background: linear-gradient(
    to right,
    var(--gradient-mid) 0%,
    var(--blue-primary) 100%
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: border-box;
}

.jmcs-categories .m-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 999px;
  background: linear-gradient(
    to right,
    var(--blue-primary) 0%,
    var(--gradient-mid) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -2;
}

.jmcs-categories .m-collection-card--inside:hover .m-button {
  color: #fff;
}

.jmcs-categories .m-collection-card--inside:hover .m-button::after {
  opacity: 1;
}

@media (max-width: 1200px) {
  .social-links-row,
  .location-row {
    display: none;
  }

  .announcement_bar_jmcs {
    width: 100%;
  }
}
