/* .m-tooltip__content {
  display: none;
} */

.jmcs-policies-block {
  position: relative;
  box-shadow: 0 -10px 56.6px 30px rgba(0, 0, 0, 0.3);
}

.jmcs-policies-block::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    #04061c 0%,
    #410896 20%,
    #3567e4 80%,
    #04061c 100%
  );
}

.m-header__desktop,
.m-header__mobile {
  border: none;
  background-image: linear-gradient(
    to right,
    #04061c 0%,
    #410896 20%,
    #3567e4 80%,
    #04061c 100%
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.links-menu-jmcs {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  padding: 16px 30px;
  font-family: var(--font-stack-header);
  text-transform: uppercase;
}

.links-menu-jmcs:hover {
  color: #3567e4;
}

.jmcs_header_icon,
.jmcs_header_icon_search {
  color: #3567e4;
  transition: all 0.2s ease-in-out;
}

.jmcs_header_icon:hover,
.jmcs_header_icon:active {
  color: #86a4ef;
  filter: drop-shadow(0 0 5.6px rgba(53, 70, 228, 0.68));
}

.m-hamburger-box__inner {
  background: #3567e4;
  transition: all 0.2s ease-in-out;
}

.m-hamburger-box__inner:active {
  background: #86a4ef;
  filter: drop-shadow(0 0 5.6px rgba(53, 70, 228, 0.68));
}

.location-dot {
  color: #3567e4;
  width: 12px;
  height: 100%;
}
.social-media-links--item svg {
  color: #3567e4;
  width: 14px;
  height: 100%;
}
.location-row {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 12px;
}
.social-links-row {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.announcement_bar_jmcs {
  width: 60%;
  display: flex;
  justify-content: center;
}
.social-media-links--label {
  font-size: 12px;
}
.social-media-links--item:hover,
.location-row:hover {
  color: #86a4ef;
}

.policy-item {
  background: transparent !important;
}

@media (max-width: 1200px) {
  .social-links-row,
  .location-row {
    display: none;
  }
  .announcement_bar_jmcs {
    width: 100%;
  }
}
