.m-collection-tabs .m-button--icon {
  width: var(--btn-icon-width, 44px);
  height: var(--btn-icon-width, 44px);
  padding: 0;
  align-items: center;
  border-radius: var(--btn-border-radius, 0);
}

.m-collection-tabs .collapsible__item {
  position: relative;
  display: block;
  border-bottom: 0;
}

.m-collection-tabs .collapsible__item [data-content] {
  height: auto;
  overflow: hidden;
  transition: height 0.35s;
  will-change: height;
}

.m-collection-tabs
  collection-tabs[data-autoplay="false"]
  .collapsible__item:after {
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.m-collection-tabs
  collection-tabs[data-autoplay="false"]
  .collapsible__item.is-expanded:after {
  opacity: 1;
}

.m-collection-tabs .block-collection-tab:first-child .collapsible__item {
  padding-top: 0;
}

.m-collection-tabs .collapsible__content-inner {
  padding: 0 50px 15px 40px;
}

.m-collection-tabs .collapsible__button {
  border: 0;
  padding: 10px 50px 10px 0;
  min-height: 60px;
  display: flex;
}

.m-collection-tabs .collapsible__button-icon {
  min-width: 28px;
  margin: 0 12px 0 0;
  flex-shrink: 0;
}

.m-collection-tabs .collapsible__button-text {
  flex-grow: 1;
  margin: 0 !important;
  font-family: var(--font-stack-header);
  color: rgb(var(--color-heading));
}

.m-collection-tabs .collapsible__button-wrap {
  position: relative;
}

.m-collection-tabs .collection-tab__link {
  --btn-icon-width: 40px;
  --btn-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-color: rgb(var(--color-border));
  flex-shrink: 0;
  z-index: 0;
}

.m-collection-tabs .collection-tab__link:hover {
  background-color: rgb(var(--color-button-hover));
  border-color: rgb(var(--color-button-hover));
}

.jmcs-swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
}

.jmcs-collection-tabs-container {
  gap: 60px;
}

.swiper--passo-a-passo {
  border-radius: 38px;
}

.jmcs-collection-wrap {
  padding: 46px 0;
}
.jmcs-collection-wrap .block-collection-tab {
  margin-bottom: 20px;
  padding: 1px;
  border-radius: 38px;
  background: linear-gradient(
    to bottom,
    var(--blue-primary),
    var(--gradient-mid)
  );
}

.jmcs-collection-wrap .jmcs-block-inner {
  background-color: #04061c;
  border-radius: 38px;
  padding: 16px 20px;
}

.jmcs-collection-wrap .jmcs-block-inner:hover {
  background: linear-gradient(
    to right,
    var(--gradient-mid),
    var(--blue-primary)
  );
}

.jmcs-collection-wrap .block-collection-tab {
  transition: box-shadow 0.3s ease-in-out;
}

.jmcs-collection-wrap .block-collection-tab.is-tab-expanded {
  box-shadow: 0 0 90.5px -26px rgba(53, 70, 228, 0.57);
}
.jmcs-collection-tabs-container .m-section__header {
  margin-bottom: 60px;
}
